//Переменные ///////////////////////////////////////////////////////////////////////////////////////////////////////

//Цвета
:root {
	--black-700: #0C0D0D;
	--black-600: #0B0A0A;
	--black-500: #1E1D1D;
	--grey-700: #424242;
	--grey-600: #585050;
	--grey-500: #887C7C;
	--grey-400: #B0B5BD;
	--grey-300: #DFDADA;
	--grey-200: #F3F3F3;
	--grey-100: #F8F8F8;
	--blue-700: #205EB0;
	--blue-600: #2A75DB;
	--blue-500: #AAC9F1;
	--blue-400: #B9D5FC;
	--blue-300: #F0F6FF;
}

//Шрифты
$suisselntl: 'Ubuntu';

//Шрифт по умолчанию body
$ff: $suisselntl;

//Размеры экранов и контейнеров
$minWidth: 320; //Минимальная адаптивная ширина экрана
$maxWidth: 1920; //Макетная ширина экрана
$maxWidthContainer: 986; //Максимальная ширина контейнера

//Медиа запросы
$md1: 991.98;
$md2: 767.98;
$md3: 575.98;